.picture {
    display: block;
    margin: 2rem auto;
}

.bio {
    font-size: 1rem;
    margin: 0 auto;
    max-width: 60rem;
}

.languageList {
    padding: 0 25px;
}

.languageItem {
    display: list-item;

    margin: 0.5rem;
}

.languageItem > dt, .languageItem > dd {
    display: inline;
}

.languageItem > dd {
    margin: 0;
}

/* .bio p:not(.greeting) {
    text-indent: 2rem;
} */

.interviews > h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 6rem 0 0 0;
    text-align: center;
}

.interviewList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 1.5rem;
   
    max-width: 70rem;

    padding: 0;
    margin: 1.5rem auto;
}

.interviewItem {
    list-style-type: none;
}

.interview > h3 {
    text-align: center;
}