:root {
    --bg-color: #242424;
    /* Header footer background color */
    --hf-bg-color: black;

    --default-font-color: #ddd;
    --link-color: #c9ab00;
    
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: var(--default-font-color);
    background-color: var(--hf-bg-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    position: relative;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    position: relative;
    z-index: 1;
    padding: 3rem 4rem;
    background-color: var(--bg-color);

    flex-grow: 1;
}

#root > header, #root > footer {
    position: relative;
    z-index: 2;
}

a {
    color: var(--link-color);
}