.pageHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;

    --surrounding-width: 200px;
    --side-padding: 1.5rem;

    /* border-bottom: 2px solid var(--link-color); */

    box-shadow: 0 3px 15px -2px var(--link-color);
}

.name {
    font-size: 1.3rem;
    /* font-weight: 900; */
    font-family: cursive;

    width: var(--surrounding-width);
    display: flex;
    align-items: center;

    padding: 0 0 0 var(--side-padding);

    box-sizing: border-box;
}

.socials {
    width: var(--surrounding-width);
    display: flex;
    align-items: center;
}

.navBar {
    display: flex;
    align-items: center;
}

.navList {
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: #333; */
    color: white;

    margin: 0;
    padding: 0;
}

.navItem {
    list-style: none;
    box-sizing: border-box;
}

.navItem > a {
    color: var(--link-color);

    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    
    height: 50px;
    width: 150px;

}

/* Glisten animation on background */
.navItem > a:hover {
    background: linear-gradient(
        120deg, 
        var(--bg-color) 0%, 
        transparent 25%, 
        rgba(75, 75, 75, 0.6) 50%,  /* Shine effect */
        transparent 75%, 
        var(--bg-color) 100%
    );
    background-size: 200% 100%;
    background-position: -100% 0;
    transition: background-position 0.6s ease-in-out;
}

.socials {
    padding: 0 var(--side-padding) 0 0;
    display: flex;
    justify-content: right;
}

.socials > ul {
    padding: 0;
    margin: 0;

    display: flex;
    gap: 0.5rem;
}

.social {
    list-style-type: none;
}

.social img {
    width: 32px;
    height: 32px;


}